:root {
  --sl-color-accent-low: #e0f7fa;
  --sl-color-accent: #00b4d8;
  --sl-color-accent-high: #00384d;
  --sl-color-white: #f8f6f3;
  --sl-color-gray-1: #eeeae6;
  --sl-color-gray-2: #c4bdb5;
  --sl-color-gray-3: #8a8279;
  --sl-color-gray-4: #585047;
  --sl-color-gray-5: #3b352e;
  --sl-color-gray-6: #272219;
  --sl-color-black: #1a2332;
}
